PORT=8000
MONGODB_URI=mongodb+srv://Chhagan:your-password@cluster0.mg1uk.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=youtube
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=backend
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=